$theme-colors: (
  "primary":rgb(215, 159, 17),
);


@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./scss/var";
@import "../node_modules/bootstrap/scss/_variables.scss";
@import "./scss/mixin";
@import "./scss/resp";
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,500&display=swap');








body {
    
    font-family: 'Bricolage Grotesque', sans-serif;
    background-color: $contrast-color;
    overflow-anchor: none;
    overflow-y: none;

}





.navbar-nav {
    
    width: 50%;
    margin: auto;
    li {
        margin-right: 8%;
    }
}


    .social {
        width: 6vw;
        margin-right: 1%;
        display: flex;
        justify-content: space-between;


        .logo {
            color:$text-color;

            &:hover {
                color: $contrast-color;
            }
        }


    }



 .nav-scroll{
        background-color: $back-color;
        box-shadow: 0px 3px 10px rgba(0,0,0,0.15) ;
    }

// Footer

.footer-box {
    min-width: 100%;
    height: 8vh;
    background-color: $back-color;

    .text {
        color: $text-color;
        padding-top: 1%;

    }


}



// INTRO
.section1 {
    min-height: 100vh;
    width: 100%;
    


    .main-box {
      

        .text-box {
        
            color: $text-color;

            .main-text {
                margin-top: 30%;
                font-size: 4rem;
            }


            .button {
                margin-top: 10%;
                
                background-color: rgb(57, 116, 23);
                color: white;
                border: none;
                
    
                &:hover {
                    color: $back-color;
                    border: 1px solid;
                    border-color: $back-color;
                    background-color: $contrast-color;
                }
        }


    

           

            }


        }



   


        .second-box {


           

        .color{


            background-color: rgb(57, 116, 23);
            height: 60vh;
            width: 50vh;
            border-radius: 10%;
            margin-top: 40%;
            position: relative;

            img{
                filter: drop-shadow( 2px 2px 1px rgba(109, 104, 104, 0.4));
            }
         
        }



       




  





    }
}



// About



.about-box {
    min-height: 120vh;
    background-color: white;

    .about-heading {
        height: 30vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;

        h1 {
            color: black;
        }

        .line {
            color: black;
            width: 8%;
            margin: 0 auto;
            border: 3px solid;
            background-color: $text-color;
            border-radius: 2px;

        }
        // .about-detail{
            
        // }
    }


}


















// Skills
.skill-box {
    min-height: 100vh;
    background-color: $back-color;




    .skill-heading {
        height: 30vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;

        h1 {
            color: $text-color;
        }

        .line {
            color: $text-color;
            width: 8%;
            margin: 0 auto;
            border: 3px solid;
            background-color: $text-color;
            border-radius: 2px;

        }
    }

    .boxes {
        min-height: 30vh;
    }

    .box1 {
        background-image: url('../src/assets/html.png');
        @include background;

        @include cicularAnimation(aqua, aqua, aqua);



    }






    .box2 {
        background-image: url('../src/assets/css.png');
        @include background;
        @include cicularAnimation(orangered, orangered, orangered);
    }

    .box3 {
        background-image: url('../src/assets/js.png');
        @include background;
        @include cicularAnimation(white, white, white);
    }

    .box4 {
        background-image: url('../src/assets/sass.png');
        @include background;
        @include cicularAnimation(rgb(253, 44, 79), rgb(253, 44, 79), rgb(253, 44, 79));
    }

    .box5 {
        background-image: url('../src/assets/bootstrap.png');
        @include background;
        @include cicularAnimation(red, red, red);
    }

    .box6 {
        background-image: url('../src/assets/react.png');
        @include background;
        @include cicularAnimation(yellow, yellow, yellow);
    }
}




// Portfolio


.project-box {
    min-height: 100vh;






    .project-heading {
        height: 30vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;

        h1 {
            color: $text-color;
        }

        .line {
            color: $text-color;
            width: 8%;
            margin: 0 auto;
            border: 3px solid;
            background-color: $text-color;
            border-radius: 2px;

        }
    }

}




// Contact Us


.contact-box {
    min-height: 100vh;
    background-color: white;

    .contact-heading {

        h1 {
            color: black;
        }

        .line {
            color: black;
            width: 8%;
            margin: 0 auto;
            border: 3px solid;
            background-color: $text-color;
            border-radius: 2px;

        }


        .contact-details {
            margin-top: 10vh;
            margin-bottom: 20vh;

            ul {

                list-style-type: none;

                li {
                    margin-top: 7%;
                    

                    svg {
                        color: rgb(215, 159, 17);
                        margin-right: 2%;
                    }

                    a {
                        text-decoration: none;
                        color: black;
                        margin-left: 3%;
                        font-size: 1.2rem;


                        &:hover {
                            color: rgb(215, 159, 17);
                        }
                    }
                }
            }
        }
    }


    .contact-form {
        background-color: $contrast-color;
        width: 80%;
        margin: auto;
        height: 80vh;
        margin-top: 10vh;
        border-radius: 10px;
        filter: drop-shadow(8px 8px 6px rgba(0, 0, 0, 0.4));

        ul {
            li {
                input {
                    border: none;
                    background-color: rgb(215, 159, 17);
                    outline: none;
                    color: grey;
                    width: 80%;

                    &:hover {
                        background-color: lightgrey;
                    }
                }

                textarea {
                    border: none;
                    background-color: rgb(215, 159, 17);
                    outline: none;
                    color: grey;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                
                    width: 90%;


                }

                button {
                    outline: none;
                    border: none;
                    filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.4));

                    &:hover {
                        background-color: white;
                        color: black;
                    }

                }
            }
        }
    }



}