



@media screen and (max-width:"768px") {
    .social{
        .logo{
        display: none;
        }
    }
    
           
        .about-text{
            text-align: center;
        }
    
    }

    
    
    
    @media screen and (max-width:"992px") {
        .social{
            .logo{
            display: none;
            }
        }
        }