



@media screen and (max-width:"768px") {
    .social{
        .logo{
        display: none;
        }
    }
    
           
        .about-text{
            text-align: center;
        }

        .intro-text{
            display: none;
    }

    .about-detail{
        text-align:center ;
    }

    .second-box{
        padding-bottom:20% ;
    }

    .skill-box{
        height: 130vh;
    }
.contact-box{
    .contact-form{
        height:90vh;
    }
}
    
    }


    

    
    @media screen and (max-width:"992px") {
        .social{
            .logo{
            display: none;
            }
        }
.form-btn{
    font-size:11px;
}
        
        }

      

